# .gitignore
# Бот и секреты
.env
bot.lock
bot_data.pickle

# Логи
logs/
*.log

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt

# Виртуальные окружения
.env/
venv/
ENV/
.env/bin/

# ОС
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
