

# Токен Telegram-бота (получается от @BotFather)
TELEGRAM_BOT_TOKEN=ваш_токен_здесь

# ID Google Таблицы (из URL: https://docs.google.com/spreadsheets/d/[SHEET_ID]/edit)
SHEET_ID=ваш_sheet_id_здесь

# ID Google Календаря (email календаря, например: salon@group.calendar.google.com)
CALENDAR_ID=ваш_calendar_id_здесь

# JSON-ключ сервисного аккаунта Google (вставляется одной строкой, без кавычек)
GOOGLE_CREDENTIALS_JSON={"type":"service_account", ... }

# Часовой пояс
TZ=Europe/Moscow